<h1>About Us</h1>
  <p>
    Some math...
    <h4>
      <%= Time.now.strftime('Today is %A, it\'s %I:%M') %>
    </h4>
<!--    <ol>
      <li>Add an '/about-us' page. (Route '/about-us' to Pages controller and the about action.)</li>
      <li>Do some math with erb tags in the views</li>
      <li>Use git to add, commit and push your files</li>
    </ol>
    Submit a link to your repository.
  </p>
-->